*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width:960px;
    margin: 0  auto;
}

body{
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 69%, rgba(73,73,73,1) 100%);
}

.header-top {
    padding: 2rem 0;
}
.header-top h1 {
    color: #fff;
}

ul.menu {
    margin-top: 1rem;
    display: flex;
    font-size: 12px;
    list-style: none;
}

ul.menu li {
    margin-right: 2rem;
}

ul.menu li a {
    color: rgb(116, 116, 116);
    text-decoration: none;
    transition: .3s;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}

ul.menu a:hover {
    color: rgb(255,255,255);
    border-bottom: 2px solid rgb(30,215,96);
}

.section-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    border-bottom: 1px solid rgb(54, 54, 54);
    padding-bottom: 1rem;
}

.sec-r {
    color: #fff;
    margin-left: 1rem;
}

.section-grid {
    margin-top: 1rem;
    display: flex;
}

.sec-items {
    color:#fff;
    font-size: 10px;
    margin-right: 8px;
    width: 20%;
}

.sec-img {
    position: relative;
}

.sec-img:hover  svg {
    opacity: 1 ;
    animation-name: move-up;
    animation-duration: 300ms;
    animation-timing-function: ease;

    
}

@keyframes move-up {
    0% {opacity: 0; bottom: -6px}
    100% {opacity:1; bottom: 8px;}
}

.sec-img img {
    width: 100%;

}

.sec-img svg {
    background-color: rgb(30,215,96);
    padding: 4px;
    border-radius: 100%;
    position: absolute;
    bottom: 8px;
    right: 8px;
    opacity: 0;
    animation-name: move-out;
    animation-duration: 300ms;
    animation-timing-function: ease;
}

@keyframes move-out {
    0% {opacity: 1; bottom: 8px}
    100% {opacity:0; bottom: -6px;}
}

.sec-info {
    margin-top: 1rem;
}

.sec-info h3 {
    margin: .5rem 0;
    color: rgb(255,255,255);
    font-size: 14px;
}

.sec-info p {
    color: rgb(116, 116, 116);
    font-size: 12px;
}
.footer {
    margin-top: 2rem;
}

.footer-grid {
    padding-top: 1rem;
    border-top: 1px solid rgb(54, 54, 54);
}

.scroll-h::-webkit-scrollbar {
    width: 0px;     
    opacity: 0;          /* width of the entire scrollbar */
  }
  
  .scroll-h::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  .scroll-h::-webkit-scrollbar-thumb {
    opacity: 0;
  }

  .scroll-h{
    overflow-x: scroll;
  }

.footer {
    margin-top: 2rem;
    color: white;
    text-align: center;
}

.footer-grid {
    margin-top: 3rem;
    margin-bottom: 8rem;
    border-top: 1px solid rgb(54, 54, 54);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}

.footer-items img{
 width: 100%;
}

.footer-img {
    position: relative;
}

.footer-img img {
    filter: opacity(50%);
    border-radius: 8px;
}

.footer-img h1 {
    color: white;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

footer {
    background: rgb(26,25,25);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 90px;
}

.duration {

}

.song-info {
    display: flex;
    align-items: center;
}

.song-info {
    font-size: 12px;
    font-weight: 100;
    color: white;
}
.bar {
    display: flex;
    align-items: center;
}

.bar img {
    width: 80px;
    padding: 10px;
}